<h1>Midnight Restaurant</h1>

<div class="row">
  <div class="col-sm-6">
    <p align="justify">We cordially invite you to our restaurant. It combines tradition with modernity in an exceptional way. Its interior is unique because fragments of old walls have been preserved and they have been ingeniously blended with the modern decor. 
    We mainly serve traditional Vietnamese cuisine and add variety to our menu according to the season. We can satisfy even the most sophisticated culinary expectations of our customers. We provide a professional service.</p>

    <img class="d-block img-fluid rounded" src="https://www.showshappening.com/blog/content/images/2016/08/asian-dining.jpg" alt="First slide">
    <br>

    <div class="card card-block">
      <address>
        <h4>Contact Midnight</h4><br>
        <i class="fa fa-map-marker" style="font-size:24px;color:black"></i> Vincom Tower, 26 Ly Tu Trong, Ben Nghe, District 1, Ho Chi Minh City</strong><br><br>
        <i class="fa fa-phone" style="font-size:24px;color:black"></i> 08-38587123 <br><br>
        <i class="fa fa-envelope-o" style="font-size:24px;color:black"></i> midnight.feedback@gmail.com
      </address>
    </div>
  </div>

  <iframe class="col-sm-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4312383728343!2d106.69884721520643!3d10.778246192320301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f480a29079d%3A0xb066b8c7dd3118c9!2zMjYgTMO9IFThu7EgVHLhu41uZywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1487053304926" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
