@import "bootstrap";

.homebanner {
    position: relative;
    background: #000 url("http://www.themalaya.com.au/images/2015-NEW-website-banner.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.limittext{
  overflow: hidden;
  text-overflow: ellipsis;
}
